/*import de fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset do css*/
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    line-height: 1;
}

/*estilização body*/
body{
    font-family: "Poppins", sans-serif;
    background-color: #e0e0e0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 20px;
}

/*estilização container*/
.container{
   width: 100%;
   max-width: 400px;
}

/*estilização card*/
.card{
background-color: white ;
border-radius: 20px;
overflow: hidden;
box-shadow: 0 4px 6px rgb(0, 0, 0.1)
}

/*estilização header*/
.header{
   background-color: #3470f1;
   padding: 30px 20px 23px;
   text-align: center;
}
.profile-picture{
margin: 0 auto 20px;
background-color: white;
border-radius: 50%;
border: 4px solid #ffffff;
width: 120px;
height: 120px;
display: flex;
justify-content: center;
align-items: center;

}

.profile-picture-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info h1{
  color: rgb(255, 255, 255);
   margin-bottom: 20px;

}
.profile-info h2{
    color: rgb(235, 226, 226);
    margin-bottom: 20px;
}
.title{
    font-size: 28px;
    margin-bottom: 5px;
}
.subtitle{
    font-size: 16px;
    font-weight: 500;
}
.contact-button{
    background-color: #fffefe;
    padding: 5px 25px;
    margin-top: 20px;
    border-radius: 30px;  
    transition: 0.3s ease; 
}
.profile-contact a{
    text-decoration: none;
    color: #3470f1;
    font-weight: 600;
}
.contact-button:hover{
    color: rgb(255, 247, 247);
    background-color: rgb(65, 46, 235);
}
/*estilização main*/
.main{
    padding: 30px;
    
}
section h3{
    margin-bottom: 10px 0px;
    font-weight: 400;
    font-size: 28px;
    color: #3470f1;
}
.main p{
    color: #555555;
    line-height: 1.3;
    margin-bottom: 10px;
}
/*estilização tech skills*/
.profile-tech-skills ul li {
    list-style: none;
    padding: 2px;
    color:#555555;  
}
/*estilização footer*/
footer{
    background-color: #3470f1;
    padding: 15px 20px;
    display: flex;
}
.footer{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}
/*estilização social icons*/
.profile-social-icons {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.profile-social-link {
    display: inline-flex;
}

